<!DOCTYPE html>
<html>
	<head>
		<title>Add your repo link</title>
	</head>
	<body>
		<h1> hello </h1>
        <form action="/validateCollaborator" id="form1" method="post">
            <label for="repoLink">repo link</label>
            <input type="text" id="repoLink" name="repoLink"><br><br>
            <input type="submit" value="Submit">
        </form>
	</body>
</html>
