<!-- B&W Footer -->
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="/css/footer.scss" rel="stylesheet">
</head>
<section class="bw-footer" id="bw-footer">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="links"><a href="https://codepen.io/gabrielski">About us</a></div>
                <div class="links"><a href="https://codepen.io/gabrielski">Members</a></div>
            </div>
            <div class="col-md-3">
                <div class="links"><a href="https://codepen.io/gabrielski"> Elements</a></div>
                <div class="links"><a href="https://codepen.io/gabrielski">View on GitHub</a></div>
            </div>
            <div class="col-md-3">
                <div class="links-small"><a href="https://codepen.io/gabrielski">Jobs</a></div>
                <div class="links-small"><a href="https://codepen.io/gabrielski">Owners</a></div>
            </div>
            <div class="col-md-3">
                <div class="links-small"><a href="https://codepen.io/gabrielski">Terms & Conditions</a></div>
                <div class="links-small"><a href="https://codepen.io/gabrielski">Privacy Policy</a></div>
            </div>
        </div>

    </div>
</section>
</html>