<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeSource</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
	<link href="/css/header.scss" rel="stylesheet">
</head>



<nav>

    <h1>CodeSource</h1>


    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="events">Events</a></li>
            <li><a href="#">Explore</a></li>
            <!-- <li><a href="#">Contact</a></li> -->
            <% if (user) { %>
                <li><a href="myAccount">My account</a></li>
                <li>
                    <div class="add-repo-container">
                        <button type="button" class="add-repo-btn" onmouseover="showForm()">Add repository</button>
                        <div class="add-repo-form">
                        <form action="/validateCollaborator" id="add-repo-form" method="post">
                            <input type="text" placeholder="Repository Name" id = "repoLink" name="repoLink">
                            <button type="submit">Submit</button>
                        </form>
                        </div>
                    </div>
                </li>    
            <% } %>
        </ul>
    </div>

    <% if (!user) { %>
        <button type="button" class="connection" onclick="location.href='/auth/github'">Login with Github</button>
    <% } else { %>
        <h2>Hello, <%= user.displayName %></h2>
    <% } %>
    
</nav>

</html>