<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeSource</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
</head>

<div class="container">




         <%- include('header', {user: user}); %>


        <section class="section-hero">

            <div class="hero-gauche">

                <h1>Codebase <strong>clarity</strong> <br> made easy!</h1>

                <p>We are simplifying open-source collaboration, one explanation at a time. <br><br> Join our community today!</p>

            </div>


            <div class="hero-droite">
                <img src="/images/banner.png" alt="rocket maaan">
            </div>

        </section>
    
        <!-- FOOTER -->


    </div>

        

    <script>
        function showForm() {
            const form = document.getElementById("add-repo-form");
            form.style.display = "block";
        }
        document.addEventListener("click", function(event) {
            const form = document.getElementById("add-repo-form");
            const button = document.querySelector(".add-repo-btn");

            // if the click event is outside of the form and button, close the form
            if (!form.contains(event.target) && !button.contains(event.target)) {
                form.style.display = "none";
            }
        });
    </script>

