<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeSource</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
<link href="/css/repo.scss" rel="stylesheet">
</head>


<html>

<% // iterate over the nested object to generate the HTML output
  function generateNestedList(directory) {
    for (const key in directory) {
      const value = directory[key];
      if (key === 'files') {
        // Render the file list
        for (let i = 0; i < value.length; i++) {
          const file = value[i];
          %><li><%= file %></li><%
        }
      } else {
        // Render the directory
        %><li><%= key %><ul><%
          generateNestedList(value);
        %></ul></li><%
      }
    }
  }
%>


  <div class="box">
    <ul class="directory-list">
<%- generateNestedList(files) %>
</ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>	// get all folders in our .directory-list
	var allFolders = $(".directory-list li > ul");
  console.log(allFolders);
	allFolders.each(function() {

	  // add the folder class to the parent <li>
	  var folderAndName = $(this).parent();
	  folderAndName.addClass("folder");

	  // backup this inner <ul>
	  var backupOfThisFolder = $(this);
	  // then delete it
	  $(this).remove();
	  // add an <a> tag to whats left ie. the folder name
	  folderAndName.wrapInner("<a href='#' />");
	  // then put the inner <ul> back
	  folderAndName.append(backupOfThisFolder);

	  // now add a slideToggle to the <a> we just added
	  folderAndName.find("a").click(function(e) {
	    $(this).siblings("ul").slideToggle("slow");
	    e.preventDefault();
	  });

	});
  </script>

</html>
