@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");
// @import url("href='https://fonts.googleapis.com/css?family=Inter");
.container-myAccount{
display:flex;
flex-direction: row;
width: auto;
}
.card-profile{
  display:flex;
  flex-direction: column;
  width:25%
}
.card-header{
  width:auto;
  padding:2%;
  margin:0.5%;
  height:auto;
  float:left;
}
.card-main{
  width:auto;
  display:flex;
  padding-left:2%;
}
.card-avatar{
  border-radius:80%;
  height:auto;
  width:45%;  
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.card-jobtitle{
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.card-subtitle{
  text-align:center;
}
.card-desc{
  text-align:center
}
.card-social{
  margin-left:auto;
  margin-top: 5%;
  margin-right: auto;
  display: block;
  height:20%;
  width:20%;
}
.myRepo{
  width:75%;
}
#repos-list {
  background-color: #ffffff;
  padding: 10px 0;
}

#repos-list h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.repo-col {
  width: calc(100% / 3);
  padding:1%;
}

.repo-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-bottom: 30px;
  height: 100%;
  
}

.repo-anchor{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.repo-header {
  font-size: 16px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.repo-symbols{
  margin:5%;
}
.filters {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.filters label {
  margin-right: 10px;
}
.connection.filter-btn {
  margin: 0 auto;
}

input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='email'],
input[type='number'],
input[type='tel'],
input[type='time'],
input[type='url'],
textarea,
.text {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type='radio'],
input[type='checkbox'] {
  margin: 0 4px 8px 0;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.connection {
  width: 11.25rem;
  height: auto;
  padding: 0.625rem 0;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  background: linear-gradient(84.12deg, #522fcf -24.93%, #9271e8 139.25%);
  color: white;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.connection:hover {
  background: linear-gradient(84.12deg, #9271e8 139.25%, #522fcf -24.93%);
}

.connection::placeholder {
  color: white;
}

.connection .value {
  text-align: center;
  background-color: #9271e8;
}

